<%- include("header") -%>

    <div class="about">
        <h1 class="about-h1" style="font-size: 3rem">
            Hi, I'm am Deepesh Bhardwaj 
        </h1>
        <h2 style="color:white; font-size: 2rem;">
            based in Bhopal, India.
        </h2>
        <p class="about-p" style="font-size: 1.5rem">
            I am a Web Developer.
        </p>        
    </div>

<%- include("footer") -%>